.form__input {
   font-family: 'Roboto', sans-serif;
   color: #333;
   font-size: 1.2rem;
   margin:  0;
   padding: 1.5rem 2rem;
   border-radius: 30px;
   background-color: rgb(255, 255, 255);
   border: 2px solid black;
   width: 40%;
   display: block;
   transition: all 0.2s;
}


.form__input:focus {
   box-shadow: #422800 2px 2px 0 0;
   transform: translate(2px, 2px);
}
