.button-index-section{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    background:mintcream;
}

.inputButton{
    display: flex;
    flex-wrap: wrap;
}

#createButton{

    width: 100%;
    margin-top: 1rem;

}

#inputButton{
    margin-top: -2px;
    margin-right:0;

    width : 45%;
}