.button-index {
   background-color: #fbeee0;
   border: 2px solid #422800;
   border-radius: 30px;
   color: #422800;
   cursor: pointer;
   display: inline-block;
   font-weight: 600;
   font-size: 18px;
   padding: 10px 18px;
   line-height: 50px;
   text-align: center;
   text-decoration: none;
   user-select: none;
    margin: auto;
   -webkit-user-select: none;
   touch-action: manipulation;
    width: max-content;
}

.button-index:hover {
    background-color: #fff;
}

.button-index:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-index {
        min-width: 120px;
        padding: 12px 25px;
    }
}