.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.sessionScreen {
    display: flex;
    justify-content:space-between;
    height: 100vh;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.sessions {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    align-items: center;
    gap: 10px;
    background: rgba(255,255,255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 10px;
}

.newSession {
    display: flex;
    justify-content:center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
}

.newSessionInner {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}